header{
    text-align: center;
}

header button{
    position: absolute;
    right: 40px;
    top:20px;
}

.write-container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container-item{
    margin: auto;
    text-align: center;
}

.contents-item-content{
    height: 100px;
}