<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/inspect_memo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/inspect_memo.js"></script>
    <script type="text/javascript" src="/redirect.js"></script>
</head>

<body>
<header>
    <h1>게시글 조회</h1>
    <button onclick="redirectToIndex()">돌아가기</button>
</header>
<div class="write-container">
    <div class="title-item container-item">
        <p>제목</p> <p>아 놀고싶다!!</p>
    </div>
    <div class="writer-item container-item">
        <p>작성자명</p> <p>김도형</p>
    </div>
    <div class="contents-item container-item">
        <p>내용</p> <p class="contents-item-content">오늘도 뚠뚠 개미는 뚠뚠</p>
    </div>
</div>
</body>
</html>